/**General styles*/

:root {
    --blue: #028fcc;
    --darkish: #303030;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: open sans, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #666;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
}

textarea {
    resize: none;
}

a {
    text-decoration: none;
}

i {
    font-size: 2rem;
}

section:not(:first-child) {
    padding: 100px 0px 100px 0px;
}

.hello__title {
    font-size: 60px;
}

.hello__image {
    height: 100vh;
}

.text-blue {
    color: #028fcc;
}

.bg-blue {
    background-color: #028fcc;
}

.bg-darkish {
    color: #303030;
}

.btn-start {
    font-size: 14px;
    padding: 14px 40px;
    border: 1px solid #6e6d6c;
    border-radius: 4px;
}

.btn-start:hover {
    background-color: var(--blue);
    border: 1px solid var(--blue);
    transition: all 0.5s ease;
}

.mobile-picture {
    display: none;
    z-index: -10;
}