:root {
    --blue: #028fcc;
    --darkish: #303030;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: open sans, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #666;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
}

textarea {
    resize: none;
}

a {
    text-decoration: none;
}

i {
    font-size: 2rem;
}

section:not(:first-child) {
    padding: 100px 0px 100px 0px;
}

.hello__title {
    font-size: 60px;
}

.hello__image {
    height: 100vh;
}

.text-blue {
    color: #028fcc;
}

.bg-blue {
    background-color: #028fcc;
}

.bg-darkish {
    color: #303030;
}

.btn-start {
    font-size: 14px;
    padding: 14px 40px;
    border: 1px solid #6e6d6c;
    border-radius: 4px;
}

.btn-start:hover {
    background-color: var(--blue);
    border: 1px solid var(--blue);
    transition: all 0.5s ease;
}

/**Carousel*/

.carousel-inner:nth-child(1).flash::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 1s ease;
    background: white;
    animation-name: blick;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes blick {
    0% {
        opacity: 1;
        z-index: 50;
    }

    99% {
        opacity: 0;
    }

    100% {
        z-index: 0;
    }
}

.carousel-caption {
    top: 35%;
}

.carousel-caption .icon-angle-down {
    font-size: 24px;
    position: absolute;
    bottom: -20px;
    left: 0;
    left: 48.5%;
}

.carousel-control-prev,
.carousel-control-next {
    width: 52px;
    height: 52px;
    top: 50%;
    border: 1px solid white;
    border-radius: 50%;
    transition: all 0.2s ease;
    border: none;
    border-radius: 0;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    border: 1px solid var(--blue);
    background-color: var(--blue);
    transition: all 0.2s ease;
}

.carousel-control-prev-icon {
    margin-right: 4px;
}


.carousel-control-next-icon {
    margin-left: 4px;
}

.carousel-control-prev {
    left: 50px;
}

.carousel-control-next {
    right: 50px;
}

.carousel-caption>p {
    font-size: 18px;
}

.carousel-item::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.5;
}

/**Header*/

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99999;
}

.navbar {
    height: 80px;
}

.nav-link {
    padding: 28px 0px 28px 0px;
}

header .active {
    background-color: rgba(0, 0, 0, .2);
}

.home {
    background-color: #089FE0 !important;
}

/**Services*/

.services {
    padding-bottom: 100px;
}

.card-title {
    font-size: 18px;
}

.card {
    border: none;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
}

.services__icon {
    border-radius: 4px;
    height: 90px;
    line-height: 90px;
    width: 90px;
    background-color: var(--blue);
    transition: background-color .2s ease;
}

.card:hover .services__icon {
    background-color: var(--darkish);
    transition: background-color .2s ease;
}

/**About-us*/

.about-us {
    position: relative;
    background: url('../img/about-bg.png') no-repeat top center fixed;
}

/**Gallery*/

.gallery__content h3 {
    font-size: 18px;
}

.gallery__block {
    overflow: hidden;
}

picture {
    z-index: -1;
}

.gallery img {
    transition: all 0.8s ease;
    cursor: pointer;
}

.gallery__content {
    background-color: rgba(0, 0, 0, .4);
    z-index: 9999;
    opacity: 0;
    transition: all 0.8s ease;
    transform: translateY(-80%);
    pointer-events: none;
}

.gallery .wow:hover .gallery__content {
    transform: translateY(-100%);
    opacity: 1;
    transition: all 0.8s ease;
    pointer-events: none;
}

.gallery .wow:hover img {
    transform: scale(1.4) rotate(-15deg);
    transition: all 0.8s ease;
}

.zoomed-image {
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
}

/**Team*/

.team {
    padding-top: 0px !important;
}

.card__icon a {
    background-color: #d9d9d9;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.card__icon i {
    margin-top: 5px;
    font-size: 14px;
}

.card-facebook a,
.card-twitter a,
.card-linkedin a,
.card-dribbble a,
.card-rss a {
    transition: all 0.5s ease;
}

.team-block:hover .card-facebook a {
    background: var(--blue);
    transition: all 0.5s ease;
}

.team-block:hover .card-twitter a {
    background: aqua;
    transition: all 0.5s ease;
}

.team-block:hover .card-linkedin a {
    background: blue;
    transition: all 0.5s ease;
}

.team-block:hover .card-dribbble a {
    background: pink;
    transition: all 0.5s ease;
}

.team-block:hover .card-rss a {
    background: orange;
    transition: all 0.5s ease;
}

/**Features*/

.features {
    position: relative;
    background: url('../img/features-bg.png') center center fixed;
}

.features-icon i {
    font-size: 40px;
}

.card {
    border: 1px solid #f2f2f2;
}

.btn-card {
    border: 0;
    border-radius: 0;
}

/**Pricing*/

.card-bg,
.card-title,
.card-text,
.card-subtitle {
    transition: all 0.5s ease;
}

.card-bg:hover {
    background: var(--blue);
    transition: all 0.5s ease;
}

.card-bg:hover .card-title,
.card-bg:hover .card-text,
.card-bg:hover .card-subtitle {
    color: white;
    transition: all 0.5s ease;
}

.card-bg:hover .btn-card {
    background: white;
    color: var(--blue);
    transition: all 0.5s ease;
}

.btn-card:hover {
    transform: scale(1.1);
}

/**Twitter*/

.twitter {
    position: relative;
    background: url('../img/twitter-bg.png') center center fixed;
}

.twitter i {
    background: var(--blue);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 65px;
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 7px 0 7px;
    border-color: var(--blue) transparent transparent transparent;
    transform: translateY(-2px);
}

.twitter .carousel-item::before {
    background: none;
}

.twitter .carousel-control-prev,
.twitter .carousel-control-next {
    top: 75px;
    border: 1px solid white;
    border-radius: 50%;
}

.twitter .carousel-control-prev:hover,
.twitter .carousel-control-next:hover {
    background: var(--blue);
    border: 1px solid var(--blue);
}

/**Blog*/

.blog {
    padding: 100px 0px 50px 0px !important;
}

.carousel-indicators [data-bs-target] {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border: 1px solid white;
    background: none;
}

.carousel-indicators .active {
    background: white;
}

.carousel-indicators {
    transform: translateX(30px);
}

.carousel-item::before {
    opacity: 0.1;
}

.blog .carousel-control-prev,
.blog .carousel-control-next {
    border: none;
    border-radius: 0;
    top: 95px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background: none;
    border: 0;
}

.carousel-control-next {
    right: 0;
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next .icon-angle-down {
    transform: rotate(-90deg);
    color: var(--blue);
    transition: all 0.2s ease;
}

.carousel-control-prev .icon-angle-down {
    transform: rotate(90deg);
    color: var(--blue);
    transition: all 0.2s ease;
}

.carousel-control-next:hover .icon-angle-down {
    color: white;
    transition: all 0.2s ease;
}

.carousel-control-prev:hover .icon-angle-down {
    color: white;
    transition: all 0.2s ease;
}

.card-sm-text {
    font-size: 11px;
}

.card-line {
    width: 25px;
    height: 3px;
    background: var(--bs-blue);
    opacity: 1;
}

.carousel-statisctic {
    font-size: 12px;
    left: 10px;
    bottom: 10px;
    z-index: 5;
}

.carousel-statisctic i {
    font-size: 11px;
}

.carousel-top-icon {
    top: 10px;
    right: 10px;
    z-index: 5;
    width: 30px;
    height: 30px;
    background: var(--blue);
    border-radius: 4px;
}

.carousel-top-icon i {
    font-size: 14px;
}

.carousel-repeat i {
    font-size: 14px;
}

.carousel-repeat a {
    width: 340px;
    height: 50px;
}

.repeat-text {
    display: block;
    color: grey;
    width: 350px;
    height: 50px;
    transition: all 0.5s ease;
}

.repeat-text:hover {
    background-color: var(--blue);
    border-radius: 6px;
    transition: all 0.5s ease;
    color: white;
}

.carousel-repeat:hover {
    color: white;
}

.blog .collapse {
    width: auto;
}

/**Maps*/

.maps {
    padding: 0 !important;
}

/**Contact-us*/

.contact-us {
    position: relative;
    background: url('../img/contact-bg.png') center center fixed;
}

input {
    width: 100%;
    height: 50px;
}

textarea {
    height: 180px;
}

.top-inputs {
    width: 47%;
}

.form-control {
    border: 1px solid #eee;
    border-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 15px;
    background: none;
}

.form-control:focus {
    background: none;
    box-shadow: none;
    border: 1px solid #039BE5;
    box-shadow: 2px 2px 10px 0px #039BE5;
}

.btn-form {
    height: 50px;
    font-size: 15px;
}

.contact i {
    font-size: 14px;
}

/**Footer*/

.footer-body {
    background: var(--blue);
    height: 170px;
}

.footer-icon i {
    font-size: 1rem;
}

.footer-icon a {
    display: block;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 4px;
}

.envelope,
.twit,
.dribbble,
.facebook,
.linkedin,
.tumblr {
    transition: all 0.5s ease;
}

.envelope:hover {
    background: yellowgreen;
    transition: all 0.5s ease;
}

.twit:hover {
    background: aqua;
    transition: all 0.5s ease;
}

.dribbble:hover {
    background: pink;
    transition: all 0.5s ease;
}

.facebook:hover {
    background: var(--blue);
    transition: all 0.5s ease;
}

.linkedin:hover {
    background: blue;
    transition: all 0.5s ease;
}

.tumblr:hover {
    background: orange;
    transition: all 0.5s ease;
}

/**Убрал горизонтальную прокрутку у body при 993 => 1000 px*/

@media (max-width: 1001px) {
    .gallery .row:nth-child(2) {
        width: 100%;
        margin-left: 4px;
    }

    .team .row:nth-child(2) {
        width: 100%;
        margin-left: 4px;
    }

    .blog .row:nth-child(2) {
        width: 100%;
        margin-left: 4px;
    }
}

@media (max-width: 992px) {
    .header__body {
        padding: 15px;
    }

    .navbar {
        height: auto;
    }

    .nav-link {
        padding: 5px 0px 0px 0px;
    }

    .gallery .row:nth-child(2) {
        width: auto;
        margin-left: 0px;
    }

    .team .row:nth-child(2) {
        width: auto;
        margin-left: 0px;
    }

    .blog .row:nth-child(2) {
        width: auto;
        margin-left: 0px;
    }
}

@media (max-width:525px) {
    .hello__title {
        font-size: 30px;
    }

    .zoomed-image {
        height: 300px;
    }
}

@media (max-width:395px) {
    .blog .card {
        width: 17rem !important;
    }

    .carousel-repeat a {
        width: 320px;
        height: 50px;
    }

    .blog .carousel-control-prev,
    .blog .carousel-control-next {
        top: 70px;
    }

}

@media (max-width: 367px) {
    .blog .row {
        --bs-gutter-x: 0rem;
        --bs-gutter-y: 0rem;
    }

    .carousel-repeat a {
        width: 300px;
    }
}